* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  height: 100%;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

.container {
  height: 100%;
}

.left, .right {
  float: left;
  background-color: ##FEFEFE;;
  overflow: hidden;
  transition: all .5s;
  height: 100%;
}

.left {
  width: 100%;
}
.left table{
	margin: 0;
}

.right {
  width: 0%;
}

.expanded .left {
  width: 33%;
}
.expanded .right{
	width: 67%;
	background-color: #EBEBEB;
}

.tableMatch{
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

.table{	
  display: flex;
  align-items: center;
}

.tableMatch td{
	border-bottom: 1px solid #ddd;
	height: 50px;
}