body
{
    background: url('img/arriere_plan_2.jpg') no-repeat fixed;
	background-size:cover;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 900px;
    margin: auto;
}

table, tr, td {
   border: 1px solid black;
}

table {
    width: 100%;
}

tr {
    height: 50px;
    text-align: center;
    margin-top: 20px;
	margin-bottom: 20px;
}

h1
{
	text-align: center;
	color: rgb(1,75,150);
}
img
{
	width: 100%;
}