<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TP3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Serveur</servlet-name>
    <servlet-class>servlet.Serveur</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serveur</servlet-name>
    <url-pattern>/Serveur</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Consultation</servlet-name>
    <servlet-class>servlet.Consultation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consultation</servlet-name>
    <url-pattern>/Consultation</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GameList</servlet-name>
    <servlet-class>servlet.GameList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameList</servlet-name>
    <url-pattern>/GameList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GameDetail</servlet-name>
    <servlet-class>servlet.GameDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameDetail</servlet-name>
    <url-pattern>/GameDetail</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GameEvent</servlet-name>
    <servlet-class>servlet.GameEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameEvent</servlet-name>
    <url-pattern>/GameEvent</url-pattern>
  </servlet-mapping>
  
</web-app>
